.myAvtar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .myAvtar img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust as needed */
  }
  
  .custom-line {
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid #aa07e6; /* Customize the color and thickness */
    margin-top: 20px; /* Space above the line */
    text-align: center; /* Center the text */
    position: relative;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .myAvtar img {
      margin-top: 10px; /* Adjust for mobile */
    }
  
    .custom-line {
      font-size: 0.9em; /* Adjust font size for smaller screens */
      margin-left: auto; /* Center the line */
      margin-right: auto; /* Center the line */
      left: auto; /* Remove left positioning */
      right: auto; /* Remove right positioning */
    }
  }
  
  